DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_GUILD_ID=123456789012345678
SQLITE_PATH=wwm_guild_bot.sqlite3
DEFAULT_TIMEZONE=UTC
OFFICER_ROLE_NAMES=Officer,Raid Lead
ADMIN_ROLE_NAMES=Admin,Guild Master
